<div class="modal-header">
    <h4 class="modal-title">Function Editor</h4>
    <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
    <form role="form">
        <div class="row">
            <div class="col-md-12">
                <h3>Data source calculations and comparisons</h3>
            </div>
            <div class="col-md-6 border-right">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Data Source A.</label>
                        <select class="form-control" [(ngModel)]="expressionRuleId1" name="expressionRuleId1">
                            <option *ngFor="let rule of rules" value="{{rule.value}}">{{rule.displayName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">Sort Field</label>
                        <select class="form-control" [(ngModel)]="expressionRestrictionFieldName1"
                                name="expressionRestrictionFieldName1">
                            <option *ngFor="let field of fields" value="{{field}}">{{field}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Sort Order</label>
                        <select class="form-control" [(ngModel)]="expressionRestrictionOrderDirection1"
                                name="expressionRestrictionOrderDirection1">
                            <option *ngFor="let sortorder of sortorders" value="{{sortorder}}">{{sortorder}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Count</label>
                        <input type="text" class="form-control" [(ngModel)]="expressionRestrictionCount1" name="expressionRestrictionCount1">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Test Field</label>
                        <select class="form-control" [(ngModel)]="expressionTestField1"
                                name="expressionTestField1">
                            <option *ngFor="let field of fields" value="{{field}}">{{field}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Function</label>
                        <select class="form-control" [(ngModel)]="expressionFunction1"
                                name="expressionFunction1">
                            <option *ngFor="let function of functions" value="{{function}}">{{function}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="control-label">Data Source B.</label>
                        <select class="form-control" [(ngModel)]="expressionRuleId2" name="expressionRuleId2">
                            <option *ngFor="let rule of rules" value="{{rule.value}}">{{rule.displayName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-5">
                        <label class="control-label">Sort Field</label>
                        <select class="form-control" [(ngModel)]="expressionRestrictionFieldName2"
                                name="expressionRestrictionFieldName2">
                            <option *ngFor="let field of fields" value="{{field}}">{{field}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Sort Order</label>
                        <select class="form-control" [(ngModel)]="expressionRestrictionOrderDirection2"
                                name="expressionRestrictionOrderDirection2">
                            <option *ngFor="let sortorder of sortorders" value="{{sortorder}}">{{sortorder}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Count</label>
                        <input type="text" class="form-control" [(ngModel)]="expressionRestrictionCount2"
                               name="expressionRestrictionCount2">
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Test Field</label>
                        <select class="form-control" [(ngModel)]="expressionTestField2"
                                name="expressionTestField2">
                            <option *ngFor="let field of fields" value="{{field}}">{{field}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Function</label>
                        <select class="form-control" [(ngModel)]="expressionFunction2"
                                name="expressionFunction2">
                            <option *ngFor="let function of functions" value="{{function}}">{{function}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <h3 class="control-label">Expression Calculator <small class="text-muted">(examples: A &lt; B +
                    28 DAYS, A &lt;= B + 2 WEEKS, A - 6 MONTHS &gt; B, A &lt;= B, A + 10 &lt; B)</small></h3>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label">Pick Data Source</label>
                        <select class="form-control" [(ngModel)]="variableLabel" style="height: 50px;" multiple
                                (click)="variableLabelChange()" [disabled]="variableLabelDisabled"
                                name="variableLabel">
                            <option *ngFor="let label of labels" value="{{label}}">{{label}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Pick Operator</label>
                        <select class="form-control" [(ngModel)]="operator" style="height: 150px;" multiple
                                (click)="operatorChange()" [disabled]="operatorDisabled" name="operator">
                            <option *ngFor="let operator of operators" value="{{operator}}">{{operator}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Enter Number</label>
                        <input type="text" class="form-control" [(ngModel)]="numberInPeriod"
                               (blur)="numberInPeriodChange()" [disabled]="numberInPeriodDisabled"
                               name="numberInPeriod">
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Pick Period</label>
                        <select class="form-control" [(ngModel)]="period" multiple (click)="periodChange()"
                                [disabled]="periodDisabled" name="period">
                            <option *ngFor="let period of periods" value="{{period}}">{{period}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Expression Calculation</label>
                        <input type="text" class="form-control" [(ngModel)]="expressionText" [disabled]="true"
                               name="expressionText">
                        <br/>
                        <button type="button" class="btn btn-sm btn-warning"
                                (click)="backSpace()">Backspace
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="save();">Save function</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</div>
