<div class="module">
	<div class="module-heading">
		Dashboard
		<button class="btn btn-success btn-sm pull-right" (click)="refresh()">Refresh</button>
	</div>
	<div class="module-body">
		<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Recent Documents <span class="fa fa-sm fa-refresh fa-refresh-animate" *ngIf="!recentDocumentsData"></span></div>
				<div class="panel-body">
					<div class="table">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Name</th>
									<th>Modified</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let item of recentDocumentsData">
									<td>
										<a style="cursor:pointer" (click)="actionItem(item,'edit')">{{item.name}}</a>
										<span class="fa fa-info-circle fa-right-pad text-muted" ngbTooltip="{{item.description}}" *ngIf="item.description"></span>
									</td>
									<td>{{item.lastModified | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
									<td><span class="fa fa-right-pad {{item.type | itemTypeIdToIcon}} text-muted"></span>{{item.type | itemTypeIdToString }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
	</div>
</div>