<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <!-- appender for console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %level [%thread] %logger{10}:%line %X{UserUuid} - %msg%n</pattern>
    </encoder>
  </appender>


  <!-- appender for log file-->
  <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>EnterpriseWebServer.log</file>
    <encoder>
      <pattern>%date %level [%thread] %logger{10}:%line %X{UserUuid} - %msg%n</pattern>
    </encoder>
  </appender>-->

  <!--================================-->
  <!--logging settings for development-->
  <!--================================-->

  <!-- only want ERRORs from these packages -->
  <logger name="ch.qos.logback" level="ERROR"/>
  <logger name="com.mchange" level="ERROR"/>
  <logger name="com.datastax" level="ERROR"/>

  <!-- enable TRACE logging for Endeavour code -->
  <logger name="org.endeavour" level="TRACE"/>
  <logger name="org.endeavourhealth" level="TRACE"/>

  <!-- only log to stdout with INFO level -->
  <root level="INFO">
    <appender-ref ref="STDOUT" />
    <!--<appender-ref ref="FILE" />-->
    <!--DB appender is added programmatically-->
  </root>
</configuration>