<div class="module">
    <div class="container-fluid">
        <div class="module-heading">Cohort / Report Feature Editor
            <div class="pull-right">
                <button class="btn btn-sm btn-default"
                        (click)="zoomIn()"
                        title="Zoom in the chart">
                    <i class="fa fa-search-plus"></i> Zoom In
                </button>
                <button class="btn btn-sm btn-default"
                        (click)="zoomOut()"
                        title="Zoom out the chart">
                    <i class="fa fa-search-minus"></i> Zoom Out
                </button>
                &nbsp;|&nbsp;
                <button class="btn btn-sm btn-primary"
                        (click)="addNewRule('1')"
                        title="Add a new feature to this cohort">
                    <i class="fa fa-plus"></i> Feature
                </button>

                <button class="btn btn-sm btn-default"
                        (click)="addNewRule('2')"
                        title="Add a library cohort to this cohort">
                    <i class="fa fa-plus"></i> Library Cohort
                </button>

                <button class="btn btn-sm btn-success"
                        (click)="addNewRule('3')"
                        title="Add a new test to this cohort">
                    <i class="fa fa-plus"></i> Test
                </button>

                <button class="btn btn-sm btn-info"
                        (click)="addNewRule('4')"
                        title="Add a new function rule to this cohort">
                    <i class="fa fa-plus"></i> Function
                </button>

                <button class="btn btn-sm btn-warning"
                        (click)="deleteSelected()"
                        (disabled)="chartViewModel.getSelectedRule().length == 0"
                        title="Delete selected rule and connections">
                    <i class="fa fa-times"></i> Delete Selected
                </button>
                <button class="btn btn-sm btn-danger"
                        (click)="clearQuery()"
                        title="Clear the rules in this this cohort without saving">
                    <i class="fa fa-eraser"></i> Clear Rules
                </button>
                &nbsp;|&nbsp;
                <button type="button" class="btn btn-sm btn-success" (click)="save(false)"><i class="fa fa-save"></i>
                    Save
                </button>
                <button type="button" class="btn btn-sm btn-warning" (click)="save(true)"><i class="fa fa-save"></i>
                    Save &
                    Close
                </button>
                <button type="button" class="btn btn-sm btn-danger" (click)="cancelChanges()"><i class="fa fa-undo"></i>
                    Cancel
                </button>
            </div>
        </div>
        <div class="module-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="query-section">
                        <flow-chart id="flowChart" [ngStyle]="{'zoom': zoomPercent}"
                                    (onRuleDescription)="onRuleDescription($event)"
                                    (onRulePassAction)="onRulePassAction($event)"
                                    (onRuleFailAction)="onRuleFailAction($event)"
                                    (onEditTest)="onEditTest($event)"
                                    [chart]="chartViewModel">
                        </flow-chart>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-md-12 mb-4">
                        <div class="card">
                            <div class="card-header">Cohort Properties</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Cohort Name:</label>
                                        <input class="form-control" type="text" name="queryName" [(ngModel)]="queryName"
                                               (ngModelChange)="queryNameChange()">
                                    </div>
                                  <div class="form-group col-md-12">
                                        <label class="control-label">Cohort Description:</label>
                                        <textarea class="form-control" [(ngModel)]="queryDescription"
                                                  (ngModelChange)="queryDescriptionChange()"
                                                  name="queryDescription"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-4">
                        <div class="card">
                            <div class="card-header">Rule Properties</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Rule Description:</label>
                                        <input class="form-control" (disabled)="disableRuleProps" type="text"
                                               name="ruleDescription"
                                               [(ngModel)]="ruleDescription"
                                               (ngModelChange)="ruleDescriptionChange()">
                                    </div>
                                    <div class="form-group col-md-12">
                                      <label class="control-label">Rule PASS Action:</label>
                                      <select class="form-control" (disabled)="disableRuleProps"
                                                [(ngModel)]="rulePassAction"
                                                (ngModelChange)="rulePassActionChange()"
                                                name="rulePassAction">
                                            <option *ngFor="let result of results" value="{{result.value}}">
                                                {{result.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label class="control-label">Rule FAIL Action:</label>
                                        <select class="form-control" (disabled)="disableRuleProps"
                                                [(ngModel)]="ruleFailAction"
                                                (ngModelChange)="ruleFailActionChange()"
                                                name="ruleFailAction">
                                            <option *ngFor="let result of results" value="{{result.value}}">
                                                {{result.displayName}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

