<div class="modal-header">
  <h4 class="modal-title">Health Care Activity Utility</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <form role="form">
    <div class="row">
      <div class="col-md-12">
        <ngb-tabset #t="ngbTabset" (tabChange)="tabChange($event)">
          <ngb-tab title="Denominator Population" id="tab-denominator">
            <template ngbTabContent>
              <div class="row mt-3">
                <div class="col-md-6 border-right">
                  <div class="row">
                    <div class="form-group col-md-8">
                      <label class="control-label">Choose an organisation group</label>
                      <div>
                        <small class="text-muted">(for which the patient has had an episode of
                          care)
                        </small>
                      </div>
                    </div>
                    <div class="form-group col-md-4">
                      <button class="btn btn-success btn-sm pull-right" (click)="orgManager()">
                        <i class="fa fa-hospital-o"></i> Manage Organisation Groups
                      </button>
                    </div>
                    <div class="form-group col-md-12">
                      <select class="form-control" [(ngModel)]="selectedGroupId"
                              name="selectedGroupId" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let group of orgGroups" [ngValue]="group.id">
                          {{group.name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label class="control-label">Age from </label>
                      <input type="text" class="form-control"
                             [(ngModel)]="ageFrom" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-4">
                      <label class="control-label">to</label>
                      <input type="text" class="form-control"
                             [(ngModel)]="ageTo" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-4">
                      <label class="control-label">Sex </label>
                      <select class="form-control"
                              [(ngModel)]="sex" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let gender of genders" value="{{gender.id}}">
                          {{gender.name}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="control-label">Ethnic groups </label>
                      <span class="info-icon" ngbTooltip="{{ orgEG }}"></span>
                      <select multiple class="form-control"
                              (change)="setSelectedEthnicGroups($event.target)">
                        <option *ngFor="let group of ethnicGroups" value="{{group.code}}">
                          {{group.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="control-label">Patients living in the following geographic
                        areas</label>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="control-label">Post Code Prefix </label>
                      <span class="info-icon" ngbTooltip="{{ ppPC }}"></span>
                      <input type="text" class="form-control" [(ngModel)]="postCodePrefix"
                             [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group col-md-12">
                      <label class="control-label">LSOA Code </label>
                      <span class="info-icon" ngbTooltip="{{ ppLSOA }}"></span>
                      <select multiple class="form-control"
                              (change)="setSelectedLsoas($event.target)">
                        <option *ngFor="let lsoa of lsoas" value="{{lsoa.lsoaCode}}">
                          {{lsoa.lsoaName}}
                        </option>
                      </select>
                    </div>
                    <div class="form-group col-md-12">
                      <label class="control-label">MSOA Code: </label>
                      <span class="info-icon" ngbTooltip="{{ ppMSOA }}"></span>
                      <select multiple class="form-control"
                              (change)="setSelectedMsoas($event.target)">
                        <option *ngFor="let msoa of msoas" value="{{msoa.msoaCode}}">
                          {{msoa.msoaName}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </template>
          </ngb-tab>
          <ngb-tab title="Enumerator Criteria" id="tab-enumerator">
            <template ngbTabContent>
              <div class="row mt-3">
                <div class="col-md-6 border-right">
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label class="control-label">Report Title </label>
                      <input type="text" class="form-control" placeholder="title"
                             [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
                    </div>

                    <div class="form-group col-md-8">
                      <label class="control-label">Choose a service group</label>
                      <div>
                        <small class="text-muted">(in which the health care activities took
                          place)
                        </small>
                      </div>
                    </div>

                    <div class="form-group col-md-4">
                      <button class="btn btn-success btn-sm pull-right"
                              (click)="serviceManager()"><i class="fa fa-hospital-o"></i> Manage
                        Service Groups
                      </button>
                      <br><br>
                    </div>
                    <div class="form-group col-md-12">
                      <select class="form-control" [(ngModel)]="selectedServiceGroupId"
                              name="selectedServiceGroupId" [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let group of serviceGroups" [ngValue]="group.id">
                          {{group.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <div class="form-group col-md-3">
                      <label class="control-label">Date filter</label>
                      <div class="form-control-plaintext custom-control custom-radio">
                        <input type="radio" name="dateType" [(ngModel)]="dateType"
                               value="relative" id="dateRelative" class="custom-control-input">
                        <label class="custom-control-label" for="dateRelative">Relative to
                          today</label>
                      </div>
                    </div>
                    <div class="form-group col-md-3">
                      <label class="control-label">&nbsp;</label>
                      <div class="form-control-plaintext custom-control custom-radio">
                        <input type="radio" name="dateType" [(ngModel)]="dateType"
                               value="absolute" id="dateAbsolute" class="custom-control-input">
                        <label class="custom-control-label" for="dateAbsolute">Specific date
                          range</label>
                      </div>
                    </div>
                    <div class="form-group col-md-6">
                      <label class="control-label">Trend Time Period </label>
                      <span class="info-icon" ngbTooltip="{{ ppTM }}"></span>
                      <div class="input-group">
                        <input type="text" class="form-control"
                               placeholder="no." [(ngModel)]="timePeriodNo"
                               [ngModelOptions]="{standalone: true}">
                        <select class="form-control"
                                [(ngModel)]="timePeriod"
                                [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let period of periods" value="{{period}}">{{period}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group col-md-12">
                      <div style="padding: 10px">
                        <label class="control-label">Encounter Types</label>
                        <div class="scroll-box-300 bordered-box">
                          <Tree [nodes]="encounterTreeData" [options]="options">
                            <template #treeNodeTemplate let-node="node" let-index="index">
                              <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="nodeCheck{{node.id}}" class="custom-control-input" (change)="check(node, !node.data.checked)" [indeterminate]="node.data.indeterminate" [checked]="node.data.checked">
                                <label class="custom-control-label" for="nodeCheck{{node.id}}">{{ node.data.name }}</label>
                              </div>
                            </template>
                          </Tree>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" *ngIf="activeTab=='tab-enumerator'" (click)="run();">Run</button>
  <button type="button" class="btn btn-success" *ngIf="activeTab=='tab-denominator'"
          (click)="t.select('tab-enumerator')">Next >
  </button>
  <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
</div>
