<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="Controller.xsd">
	<debugging>
		<startImmediately>true</startImmediately>
	</debugging>
	<executionSchedule>
		<startTimeInHours>18</startTimeInHours>
	</executionSchedule>
	<patientBatchSize>1000</patientBatchSize>
	<coreDatabase>
		<url>jdbc:jtds:sqlserver://127.0.0.1:1433/Endeavour_Enterprise;</url>
		<username>Endeavour_Enterprise_ApplicationUser</username>
		<password>TheQuickBrownFox1234%^&amp;*</password>
	</coreDatabase>
	<messageQueuing>
		<ipAddress>localhost</ipAddress>		
		<username>guest</username>
		<password>guest</password>
		<controllerQueueName>discovery.controllerqueue</controllerQueueName>
		<processorNodesExchangeName>discovery.fanout.processornodes</processorNodesExchangeName>
		<workerQueuePrefix>discovery.workerqueue</workerQueuePrefix>
	</messageQueuing>
	<careRecordDatabase>
		<url>jdbc:jtds:sqlserver://127.0.0.1:1433/Endeavour_Enterprise_Data;</url>
		<username>Endeavour_Enterprise_ApplicationUser</username>
		<password>TheQuickBrownFox1234%^&amp;*</password>
	</careRecordDatabase>
</configuration>
