<div class="modal-header">
	<button type="button" class="close" data-ng-click="codePicker.cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Code Picker</h4>
</div>
<div class="modal-body">
	<form endUserRole="form" class="container-fluid">
		<!-- Search -->
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Search Criteria</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search term" aria-describedby="searchTerm"
								 ng-model="codePicker.searchData">
					<span class="input-group-addon" ng-click="codePicker.search()">
						<i class="glyphicon glyphicon-search" id="searchTerm" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>

		<!-- Matches -->
		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">Parents</label>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="parent in codePicker.parents"
							 ng-dblclick="codePicker.displayCode(parent, true)"
							 class="hover-box striped"
							 ng-class="{'previous-selection': parent.id == codePicker.previousSelection.id}">
						{{ parent.label }}
					</div>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Codes</label>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="match in codePicker.searchResults"
							 ng-click="codePicker.displayCode(match, false)"
							 class="hover-box show-child-on-hover striped"
							 ng-class="{'selection': match.id == codePicker.selectedMatch.id}">
						 {{ match.label }}
						<button type="button" class="btn btn-xs btn-success pull-right child-to-show" ng-click="codePicker.select(match)">
							<span class="glyphicon glyphicon-sm glyphicon-plus"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Children</label>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="child in codePicker.children"
							 ng-dblclick="codePicker.displayCode(child, true)"
							 class="hover-box striped"
							 ng-class="{'previous-selection': child.id == codePicker.previousSelection.id}">
						{{ child.label }}
					</div>
				</div>
			</div>
		</div>

		<!-- Selection -->
		<div class="row">
			<div class="form-group col-md-6">
				<label class="control-label">Selected codes</label>
				<div class="scroll-box-150 form-control">
					<div ng-repeat="selection in codePicker.resultData"
							 ng-click="codePicker.displayExclusionTree(selection)"
							 class="hover-box show-child-on-hover striped"
							 ng-class="{'selection': selection == codePicker.selectedExclusion}">
						{{ selection.label }}
						<span class="label label-success" ng-show="selection.includeChildren && (selection.exclusions.length == 0)">All children</span>
						<span class="label label-warning" ng-show="selection.includeChildren && (selection.exclusions.length > 0)">Some children</span>
						<span class="label label-danger" ng-show="!selection.includeChildren">No children</span>
						<button type="button" class="btn btn-xs btn-danger pull-right child-to-show" ng-click="codePicker.unselect(selection)">
							<span class="glyphicon glyphicon-sm glyphicon-minus"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="control-label">Inclusions/Exclusions</label>
				<div class="scroll-box-150 form-control">
					<div ui-tree data-nodrop-enabled="true" data-nodrag id="tree-root">
						<ol ui-tree-nodes ng-model="codePicker.exclusionTreeData">
							<li ng-repeat="node in codePicker.exclusionTreeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn"
					data-ng-click="codePicker.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
					data-ng-click="codePicker.ok();">Ok</button>
</div>

<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle class="tree-node tree-node-content" style="cursor:pointer">
		<span class="folder-item">
			<span class="text-success glyphicon glyphicon-ok-circle"
						ng-click="codePicker.excludeNode(node)"
						ng-show="node.includeChildren && (!node.exclusions || node.exclusions.length == 0)"> </span>
			<span class="text-warning glyphicon glyphicon-remove-circle"
						ng-click="codePicker.includeNode(node)"
						ng-show="node.includeChildren && (node.exclusions && node.exclusions.length > 0)"> </span>
			<span class="text-danger glyphicon glyphicon-ban-circle"
						ng-click="codePicker.includeNode(node)"
						ng-show="!node.includeChildren"> </span>
			<span>{{node.label}}</span>
		</span>
	</div>
	<ol ui-tree-nodes ng-model="node.children">
		<li ng-repeat="node in node.children" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>
