<div class="modal-header">
	<button type="button" class="close" data-ng-click="codePicker.cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Code Picker</h4>
</div>
<div class="modal-body">
	<form endUserRole="form" class="container-fluid">
		<!-- Search -->
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Search Criteria</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search term" aria-describedby="searchTerm"
								 ng-model="codePicker.searchData">
					<span class="input-group-addon" ng-click="codePicker.search()">
						<i class="glyphicon glyphicon-search" id="searchTerm" aria-hidden="true"></i>
					</span>
				</div>
			</div>
		</div>

		<!-- Matches -->
		<div class="row">
			<div class="form-group col-md-5">
				<label class="control-label">Matches</label>
				<div style="height: 150px; overflow-y: scroll;">
					<div ng-repeat="match in codePicker.searchResults.results"
							 ng-click="codePicker.getCodeTreeData(match)"
							 class="hover-box show-child-on-hover"
							 ng-class="{'selection': match.isSelected}">
						 {{ match.label }}
						<button type="button" class="btn btn-xs btn-default pull-right child-to-show" ng-click="codePicker.select(match, true)">
							<span class="glyphicon glyphicon-duplicate"></span>
						</button>
						<button type="button" class="btn btn-xs btn-default pull-right child-to-show" ng-click="codePicker.select(match, false)">
							<span class="glyphicon glyphicon-file"></span>
						</button>
					</div>
				</div>
			</div>
			<div class="form-group col-md-7">
				<label class="control-label">Code tree</label>
				<div style="height: 150px; overflow-y: scroll;">
					<div ui-tree data-nodrop-enabled="true" data-nodrag id="tree-root">
						<ol ui-tree-nodes ng-model="codePicker.treeData">
							<li ng-repeat="node in codePicker.treeData" ui-tree-node ng-include="'nodes_renderer.html'"></li>
						</ol>
					</div>
				</div>
			</div>
		</div>

		<!-- Selection -->
		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label">Selection</label>
				<span ng-repeat="item in codePicker.resultData" uib-dropdown>
					<label type="button" class="btn btn-xs {{codePicker.getButtonProperties(item)}}"
									uib-dropdown-toggle
									value="item">
						{{item.term }}
						<span class="badge">{{ codePicker.getMatchCount(item) }}</span>
						<span class="glyphicon"
									ng-click="item.includeChildren=!item.includeChildren"
									ng-class="{'glyphicon-file': !item.includeChildren,'glyphicon-duplicate': item.includeChildren}"></span>
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true" ng-click="codePicker.unselect(item)"></span>
					</label>
					<ul uib-dropdown-menu ng-if="codePicker.getMatchCount(item) > 1;">
						<li ng-repeat="match in item.matches">{{match.term}}</li>
					</ul>
				</span>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn"
					data-ng-click="codePicker.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
					data-ng-click="codePicker.ok();">Ok</button>
</div>
<script type="text/ng-template" id="nodes_renderer.html">
	<div ui-tree-handle class="tree-node tree-node-content" style="cursor:pointer">
		<span class="show-child-on-hover folder-item"
								ng-class="{'selection': node.isSelected}">
			<span	ng-if="node.childCount == 0" data-nodrag class="glyphicon glyphicon-blank text-muted"></span>
			<span ng-if="node.childCount > 0" data-nodrag	class="glyphicon glyphicon-sm text-muted"
						ng-class="{'glyphicon-chevron-right': !node.isExpanded,'glyphicon-chevron-down': node.isExpanded}"
						ng-click="codePicker.toggleExpansion(node)"></span>
			<span ng-click="ctrl.selectNode(node)" style="cursor:pointer">
				<span>{{node.label}}</span>
				<span class="glyphicon glyphicon-sm glyphicon-refresh glyphicon-refresh-animate" ng-show="node.loading"></span>
			</span>
		</span>
	</div>
	<ol ui-tree-nodes ng-model="node.nodes" ng-show="node.isExpanded">
		<li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
		</li>
	</ol>
</script>
