<div class="modal-header">
	<button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Term Browser</h4>
</div>
<div class="modal-body">
	<form endUserRole="form" class="container-fluid">
		<div class="row">
			<div class="form-group col-md-4">
				<label class="control-label">Search for Terms</label>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search term" aria-describedby="searchTerm"
						   [(ngModel)]="searchTerm" (keyup)="$event.keyCode == 13 && search()" autofocus name="searchTerm">
					<span class="input-group-addon" (click)="search()" style="cursor: pointer">
						<i class="fa fa-search" id="searchTerm" aria-hidden="true"></i>
					</span>

				</div>
			</div>
			<div class="form-group col-md-4"><span style="color:black;font-size:12px"><i class="fa fa-info-circle" aria-hidden="true"></i> Use % as a wildcard (i.e. %height, asthma%, %serum%)</span>
			</div>
		</div>

		<div class="row">
			<div class="form-group col-md-8">
				<label class="control-label">Terms</label>
				<div class="scroll-box-600 form-control">
					<table border=1 frame=void rules=rows style="border-color: silver; margin-top:10px;margin-left:15px">
						<tr>
							<th style="width: 100px">Select</th>
							<th style="width: 400px">Original Term</th>
							<th style="width: 400px">Snomed Term</th>
							<th style="width: 250px">Snomed Concept ID</th>
							<th style="width: 200px">Original Code</th>
							<th style="width: 200px">Record Type</th>

						</tr>
						<tr style="height:40px" *ngFor="let match of searchTerms">
							<td>
								<button type="button" class="btn btn-xs btn-success pull-left child-to-show" (click)="addToSelection(match)">
									<span class="fa fa-sm fa-plus"></span>
								</button>
							</td>
							<td style="color:blue;font-size:12px;cursor:pointer" (click)="displayCode(match, false)">
								{{ match.originalTerm }}
							</td>
							<td style="color:black;font-size:12px">
								{{ match.snomedTerm }}
							</td>
							<td style="color:black;font-size:12px">
								{{ match.snomedConceptId }}
							</td>
							<td style="color:black;font-size:12px">
								{{ match.originalCode }}
							</td>
							<td style="color:black;font-size:12px">
								{{ match.recordType }}
							</td>

						</tr>
					</table>
				</div>
			</div>
			<div class="form-group col-md-4">
				<label class="control-label">Parent Terms</label> <small class="text-muted">(double-click to navigate up the hierarchy)</small>
				<div class="scroll-box-175 form-control">
					<div *ngFor="let parent of parents"
						 (dblclick)="displayCode(parent, true)"
						 class="hover-box show-child-on-hover striped">
						<span ngbTooltip="{{parent.snomedConceptId}}" style="color:black;font-size:12px;cursor:pointer">{{ parent.originalTerm }}</span>
						<button type="button" class="btn btn-xs btn-success pull-right child-to-show" (click)="addToSelection(parent)">
							<span class="fa fa-sm fa-plus"></span>
						</button>
					</div>
				</div>
				<br/>
				<label class="control-label">Child Terms</label> <small class="text-muted">(double-click to navigate down the hierarchy)</small>
				<div class="scroll-box-175 form-control">
					<div *ngFor="let child of children"
						 (dblclick)="displayCode(child, true)"
						 class="hover-box show-child-on-hover striped">
						<span ngbTooltip="{{child.snomedConceptId}}" style="color:black;font-size:12px;cursor:pointer">{{ child.originalTerm }}</span>
						<button type="button" class="btn btn-xs btn-success pull-right child-to-show" (click)="addToSelection(child)">
							<span class="fa fa-sm fa-plus"></span>
						</button>
					</div>
				</div>
				<br/>
				<label class="control-label">Selected Term(s)</label>
				<div class="scroll-box-175 form-control">
					<div ngbTooltip="{{selection.code}}" *ngFor="let selection of resultData"
						 class="hover-box show-child-on-hover striped">
						<span ngbTooltip="{{selection.snomedConceptId}}" style="color:black;font-size:12px;cursor:pointer">{{ selection.term }}</span>
						<button type="button" class="btn btn-xs btn-danger pull-right child-to-show" (click)="removeFromSelection(selection)">
							<span class="fa fa-sm fa-minus"></span>
						</button>
					</div>
				</div>
		</div>
		</div>



	</form>
</div>
<div class="modal-footer">
	<button type="button" class="btn"
					(click)="cancel()">Cancel</button>
	<button type="button" class="btn btn-primary"
					(click)="ok();">Ok</button>
</div>
