<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="ProcessorNode.xsd">
    <debugging/>
    <executionThreads>1</executionThreads>
    <dataItemBufferSize>100</dataItemBufferSize>
    <dataItemBufferTriggerSize>5</dataItemBufferTriggerSize>
    <messageQueuing>
        <ipAddress>localhost</ipAddress>
        <username>guest</username>
        <password>guest</password>
        <processorNodesExchangeName>discovery.fanout.processornodes</processorNodesExchangeName>
        <processorNodeQueuePrefix>discovery.processornodequeue</processorNodeQueuePrefix>
    </messageQueuing>
</configuration>
