/*--------------Main sections-------------*/
html, body {
  min-height: 100%;
  padding: 0;
  margin: 0; }

body {
  background: url("../images/shattered.png"); }

/*body {*/
/*position: absolute;*/
/*left: 0;*/
/*right: 0;*/
/*padding: 0;*/
/*border-left: 1px solid #bfbfbf;*/
/*border-right: 1px solid #bfbfbf;*/
/*box-shadow: 0 2px 70px rgba(0, 0, 0, .45);*/
/*margin-right: auto;*/
/*margin-left: auto;*/
/*font-family: "Open Sans", Arial, Helvetica, Sans-Serif;*/
/*font-size: 13px;*/
/*line-height: 1.42857143;*/
/*color: #333;*/
/*min-height: 100%;*/
/*background: url('../images/shattered.png');*/
/*}*/
/*@media (min-width: 1200px) {*/
/*body {*/
/*width: 1166px;*/
/*}*/
/*}*/
/*@media (min-width: 992px) {*/
/*.body {*/
/*width: 966px;*/
/*}*/
/*}*/
/*@media (min-width: 768px) {*/
/*.body {*/
/*width: 746px;*/
/*}*/
/*}*/
.column {
  height: 100%;
  margin: auto; }

/*@media (min-width: 768px) {*/
/*.column {*/
/*width: 746px;*/
/*}*/
/*}*/
/*@media (min-width: 992px) {*/
/*.column {*/
/*width: 966px;*/
/*}*/
/*}*/
@media (min-width: 1200px) {
  .column {
    width: 1166px; } }
#applicationHost {
  margin: 90px 0 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

#header {
  /*position: fixed;*/
  width: 100%;
  margin-top: -90px;
  height: 90px;
  z-index: 1000;
  /*top: 0;*/
  background-color: #f3f3f3;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: -11px 12px 23px rgba(0, 0, 0, 0.1);
  max-width: 1164px;
  padding: 15px; }
  #header .session-button-container {
    margin-top: 4px;
    border-bottom: none; }
    #header .session-button-container > li:hover, #header .session-button-container > li.open {
      background-color: #E6E6E6; }
    #header .session-button-container > li a:hover, #header .session-button-container > li a:focus {
      background-color: #f3f3f3;
      background-image: none;
      filter: none; }
    #header .session-button-container li > a > i {
      margin-right: 3px; }
    #header .session-button-container .session-button {
      border-color: transparent;
      background: none;
      padding-top: 0;
      padding-bottom: 0;
      text-align: right;
      color: #333;
      font-size: 13px;
      text-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
      #header .session-button-container .session-button .session-button-text {
        float: left;
        margin-right: 7px; }
      #header .session-button-container .session-button .session-button-claret {
        margin-top: 10px; }
    #header .session-button-container .dropdown-menu {
      background-color: #E6E6E6;
      border: 0; }
      #header .session-button-container .dropdown-menu a {
        color: #333; }

.page-host {
  height: 100%;
  /*margin-top: 90px;*/
  background-color: white;
  /*min-height: 500px;*/
  padding: 15px; }

.etoolbar {
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

/*--------------EPanels-------------*/
.epanel {
  margin-left: -7.5px;
  margin-right: -7.5px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #bebebe;
  border-width: 3px 1px 1px 1px;
  position: relative;
  /*For the panel joiner*/ }

.epanel .epanel-header {
  border-color: #e7eaec;
  border-style: none none solid none;
  border-width: 0 0 1px 0;
  padding: 0 15px 0 15px;
  height: 39px;
  font-size: 14px;
  line-height: 39px;
  /*to get the main text vertically central*/ }

.epanel .epanel-header h5 {
  font-weight: 600;
  margin: -5px 0 0 0;
  display: inline-block;
  /*to get the main text vertically central*/
  vertical-align: middle;
  /*to get the main text vertically central*/
  line-height: normal;
  /*to get the main text vertically central*/ }

.epanel .epanel-content {
  padding: 15px 15px 20px 15px; }

/*-------------- Dashboard -------------*/
.dashboard .modules ul {
  list-style: none;
  padding-left: 0; }

/*-------------- Outlook style -------------*/
.outlook-style {
  height: 100%;
  position: relative; }

.outlook-style-lhs {
  /*background-color: yellow;*/
  top: 0;
  bottom: 0;
  left: 0;
  width: 210px;
  position: absolute;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  margin-right: 10px; }

.outlook-style-main {
  background-color: white;
  top: 0;
  right: 0;
  bottom: 250px;
  left: 220px;
  overflow-y: auto;
  position: absolute; }

.outlook-style-details {
  background-color: orange;
  right: 0;
  bottom: 0;
  left: 220px;
  height: 250px;
  position: absolute; }

/*-------------- Toolbar ------------*/
.btn-toolbar button {
  font-size: 12px;
  padding: 2px 6px; }

.btn-toolbar p {
  margin-bottom: 0; }

/*-------------- General Layout -------------*/
/*--------------  -------------*/
table.table-xs > tbody > tr > td, table.table-xs > tbody > tr > th, table.table-xs > tfoot > tr > td, table.table-xs > tfoot > tr > th, table.table-xs > thead > tr > td, table.table-xs > thead > tr > th {
  padding: 2px; }

table.dataTable tbody tr.selected {
  background-color: #EBF1FB; }

.chart-container .chart-placeholder {
  width: 100%;
  height: 100%; }

/*# sourceMappingURL=site.css.map */
