<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					List output
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<div class="row">
								<div class="col-md-6">
									<label for="name">Name</label>
									<input type="text" class="form-control" id="name" ng-model="listOutputCtrl.name">
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<label for="description">Description</label>
									<input type="text" class="form-control" id="description" ng-model="listOutputCtrl.description">
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<label>List groups</label>
									<div class="table scroll-box-450 form-control">
										<table class="table table-striped table-condensed">
											<thead>
												<tr>
													<th class="col-md-4">Heading</th>
													<th class="col-md-2">Type</th>
													<th class="col-md-4">Details</th>
													<th class="col-md-2"></th>
												</tr>
											</thead>
											<tbody>
												<tr class="hover-box show-child-on-hover"
														ng-repeat="item in listOutputCtrl.listReport.groups"
														ng-click="listOutputCtrl.selectedListReportGroup = item"
														ng-class="{'selection': item == listOutputCtrl.selectedListReportGroup}">
													<td>{{item.heading}}</td>
													<td><span class="glyphicon glyphicon-right-pad {{ item | listReportGroupToIcon }} text-muted"></span>{{ item | listReportGroupToTypeName }}</td>
													<td>{{ item | listReportGroupToDescription }}</td>
													<td>
														<div class="child-to-show">
															<button type="button" class="btn btn-danger btn-xs pull-right" ng-click="listOutputCtrl.removeListReportGroup(item)">
																<span class="glyphicon glyphicon-remove"></span>
															</button>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-4" ng-show="listOutputCtrl.selectedListReportGroup">
										<label for="group-heading">Heading</label>
										<input type="text" class="form-control" id="group-heading" ng-model="listOutputCtrl.selectedListReportGroup.heading">

										<div ng-show="listOutputCtrl.selectedListReportGroup.fieldBased">
											<label for="fieldBased-dataSource">Data source</label>
											<div class="input-group">
												<input type="text" class="form-control" id="fieldBased-dataSource" ng-model="listOutputCtrl.selectedListReportGroup.fieldBased.dataSource" disabled>
												<span class="input-group-addon" ng-click="listOutputCtrl.selectDataSource(listOutputCtrl.selectedListReportGroup.fieldBased)" style="cursor: pointer">
													<i class="glyphicon glyphicon-hdd" id="fieldBased-dataSource" aria-hidden="true"></i>
												</span>
											</div>

											<label for="fieldBased-dataSource">Field output</label>
											<div class="table scroll-box-300 form-control">
												<table class="table table-striped">
													<thead>
														<th class="col-md-4">Heading</th>
														<th class="col-md-5">Field</th>
														<th class="col-md-3"></th>
													</thead>
													<tbody>
														<tr class="hover-box show-child-on-hover"
																ng-repeat="item in listOutputCtrl.selectedListReportGroup.fieldBased.fieldOutput"
																ng-class="{'selection': item == listOutputCtrl.selectedFieldOutput}">
															<td>
																<span ng-hide="item == listOutputCtrl.selectedFieldOutput">{{ item.heading }}</span>
																<input ng-show="item == listOutputCtrl.selectedFieldOutput" type="text" class="form-control input-sm" ng-model="item.heading">
															</td>
															<td>
																<span ng-hide="item == listOutputCtrl.selectedFieldOutput">{{ item.field }}</span>
																<input ng-show="item == listOutputCtrl.selectedFieldOutput" type="text" class="form-control input-sm" ng-model="item.field">
															</td>
															<td>
																<div class="btn-group child-to-show pull-right" ng-hide="item == listOutputCtrl.selectedFieldOutput">
																	<button type="button" class="btn btn-success btn-xs" ng-click="listOutputCtrl.selectedFieldOutput = item">
																		<span class="glyphicon glyphicon-pencil"></span>
																	</button>
																	<button type="button" class="btn btn-danger btn-xs" ng-click="listOutputCtrl.removeListReportGroup(item)">
																		<span class="glyphicon glyphicon-remove"></span>
																	</button>
																</div>
																<button type="button" class="btn btn-success btn-xs pull-right"
																				ng-click="listOutputCtrl.selectedFieldOutput = null"
																				ng-show="item == listOutputCtrl.selectedFieldOutput">
																	<span class="glyphicon glyphicon-ok"></span>
																</button>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>

										<div ng-show="listOutputCtrl.selectedListReportGroup.summary">

										</div>
									</div>
								</div>
							</div>
					</form>
				</div>
				<div class="panel-footer">
					<div class="pull-right">
						<button type="button" class="btn btn-success"
										data-ng-click="listOutputCtrl.save()">Save</button>
						<button type="button" class="btn btn-warning"
										data-ng-click="listOutputCtrl.saveAndClose()">Save & Close</button>
						<button type="button" class="btn btn-danger"
										data-ng-click="listOutputCtrl.close()">Cancel</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
