<div class="modal-header">
  <h4 class="modal-title">Cohort Results Viewer</h4>
  <button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <form role="form">
    <div class="row">
      <div class="form-group col-md-9 border-right">
        <div class="row">
          <div class="form-group col-md-6">
            <div class="row">
              <div class="form-group col-md-12">
                <label class="control-label">Time of Run</label>
                <div class="form-control">{{runDate | date:'dd-MMM-yyyy HH:mm:ss'}}</div>
              </div>
              <div class="form-group col-md-12">
                <label class="control-label">Denominator Baseline</label>
                <div class="form-control">{{getPopulationName(population)}} on or before {{baselineDate | date:'dd-MMM-yyyy'}}</div>
              </div>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label">Previous runs</label>
            <div class="scroll-box-150">
              <table class="table table-striped table-sm">
                <tr class="d-flex">
                  <th class="col-5">Date</th>
                  <th class="col-7">Denominator Baseline</th>
                </tr>
                <tr *ngFor="let result of allCohortResults" class="d-flex">
                  <td class="col-5 text-primary" (click)="getCohortResults(result.queryItemUuid,result.runDate)" style="cursor:pointer;">{{result.runDate | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                  <td class="col-7">{{getPopulationName(result.populationTypeId)}} on or before {{result.baselineDate | date:'dd-MMM-yyyy'}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label">Results</label>
            <div class="scroll-box-150">
              <table class="table table-striped table-sm">
                <tr class="d-flex">
                  <th class="col-6">Organisation</th>
                  <th class="col-2">Patients in Enumerator</th>
                  <th class="col-3">Patients in Denominator</th>
                  <th class="col-1">%</th>
                </tr>
                <tr class="d-flex">
                  <td class="col-6">All Organisations</td>
                  <td class="col-2">{{enumeratorTotal}}</td>
                  <td class="col-3">{{denominatorTotal}}</td>
                  <td class="col-1">{{enumeratorTotal/denominatorTotal*100 | number}}%</td>
                </tr>
                <tr *ngFor="let result of cohortResult" class="d-flex">
                  <td class="col-6">{{getOrganisationName(result.organisationId)}}</td>
                  <td class="col-2 text-primary" (click)="getCohortPatients(result.queryItemUuid,result.runDate,result.organisationId)" style="cursor:pointer;">{{result.enumeratorCount}}</td>
                  <td class="col-3">{{result.denominatorCount}}</td>
                  <td class="col-1">{{result.enumeratorCount/result.denominatorCount*100 | number}}%</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="row">
          <div class="form-group col-md-12">
            <label class="control-label">Cohort name</label>
            <div class="form-control">{{ item.name }}</div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label">Cohort description</label>
            <div class="scroll-box-150 form-control">{{ item.description }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label class="control-label">Cohort Results</label>
        <div class="scroll-box-300">
          <table class="table table-striped table-sm">
            <tr>
              <th>Pseudo ID</th>
              <th>Gender</th>
              <th>Age</th>
              <th>Postcode Prefix</th>
              <th>Date Of Death</th>
              <th>Organisation</th>
              <th>Lsoa Code</th>
              <th>Msoa Code</th>
              <th>Household ID</th>
            </tr>
            <tr *ngFor="let row of cohortPatient">
              <td class=" text-primary" style="cursor: pointer" (click)="displayPatient(row.pseudoId)">{{ row.pseudoId }}</td>
              <td>{{ getSex(row.patientGenderId) }}</td>
              <td>{{ getAge(row.ageYears, row.ageMonths, row.ageWeeks) }}</td>
              <td>{{ row.postcodePrefix }}</td>
              <td>{{ row.dateOfDeath }}</td>
              <td>{{ getOrganisationName(row.organizationId) }}</td>
              <td>{{ row.lsoaCode }}</td>
              <td>{{ row.msoaCode }}</td>
              <td>{{ row.householdId }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="cancel()">Close</button>
</div>
