<div class="module">
    <div class="container-fluid">
        <div class="module-heading">Query editor</div>
        <div class="module-body">
            <div id="queryPage">
                <section class="query-section">

                    <clear-query title="Clear Rules" ng-show="showClearQuery">
                        <div class="modal-body">
                            <p>Are you sure you want to clear the rules in this query (changes will not be saved) ?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" ng-click="toggleClearQuery()" class="btn btn-default">Cancel</button>
                            <button type="submit" ng-click="clearQueryYes()" class="btn btn-default">Yes</button>
                        </div>

                    </clear-query>

                    <flow-chart
                            mouse-capture
                            chart="chartViewModel">
                    </flow-chart>
                </section>

                <aside class="query-aside">
                    <div style="margin-bottom: 10px">
                        <header class="query-header">
                            <button class="btn btn-default"
                                    ng-click="addNewRule()"
                                    title="Add a new rule to this query">
                                Add Rule
                            </button>

                            <button class="btn btn-default"
                                    ng-click="deleteSelected()"
                                    ng-disabled="chartViewModel.getSelectedRule().length == 0"
                                    title="Delete selected rule and connections">
                                Delete
                            </button>
                            <button class="btn btn-default"
                                    ng-click="toggleClearQuery()"
                                    title="Clear the rules in this this query without saving">
                                Clear Rules
                            </button>
                        </header>
                    </div>

                    <div class="queryDiv">
                        <div class="queryHeader">
                            Query Properties
                <span style="float: right; cursor: pointer" class="glyphicon glyphicon-info-sign" ng-click = "ShowDataModel()"
                      title="View Query Document Data Model"></span>
                        </div>

                        <div class="ruleFields">
                            <div class="row">
                                <form class="form">
                                    <fieldset>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Query Name:</label>
                                        <input class="form-control" type="text" name="input" ng-model="queryName" style="margin: 0px 0px 15px 10px;width:275px" ng-change="queryNameChange()">
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Query Description:</label>
                            <textarea class="form-control" ng-model="queryDescription" style="height: 55px; margin: 0px 0px 15px 10px;width:275px" ng-change="queryDescriptionChange()">
                                </textarea>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="ruleDiv">
                        <div class="ruleHeader">
                            Rule Properties
                        </div>

                        <div class="ruleFields">
                            <div class="row">
                                <form class="form">
                                    <fieldset>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule Description:</label>
                                        <input class="form-control" type="text" name="input" ng-model="ruleDescription" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ruleDescriptionChange()">
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule PASS Action:</label>
                                        <select class="form-control" ng-model="rulePassAction" style="margin: 0px 0px 15px 10px;width:275px" ng-change="rulePassActionChange()">
                                            <option ng-repeat="result in results" value="{{result}}">{{result}}</option>
                                        </select>
                                        <label class="control-label" style="padding: 0px 10px 0px 15px;">Rule FAIL Action:</label>
                                        <select class="form-control" ng-model="ruleFailAction" style="margin: 0px 0px 15px 10px;width:275px" ng-change="ruleFailActionChange()">
                                            <option ng-repeat="result in results" value="{{result}}">{{result}}</option>
                                        </select>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>

            <div class="jsonDiv" ng-show="dataModel">
                <div class="jsonHeader">
                    Query Document Data Model
                    <span style="float: right; cursor: pointer" class="glyphicon glyphicon-remove" ng-click = "ShowDataModel()"></span>
                </div>
                <div style="overflow: auto; height:2000px;">
                   <textarea style="padding:10px;height:488px;width:700px; border:0px"
                             chart-json-edit
                             view-model="chartViewModel">
                   </textarea>
                </div>
            </div>
        </div>
    </div>
</div>

