<div class="module">
	<div class="module-heading">
		Dashboard
		<button class="btn btn-success btn-sm pull-right" ng-click="dashboard.refresh()">Refresh</button>
	</div>
	<div class="module-body">
		<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Engine History <span class="fa fa-sm fa-refresh fa-refresh-animate" ng-hide="dashboard.engineHistoryData"></span></div>
				<div class="panel-body">
					<div class="table">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Date/Time</th>
									<th>Outcome</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in dashboard.engineHistoryData">
									<td>{{item.date | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
									<td>{{item.status}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Recent Documents <span class="fa fa-sm fa-refresh fa-refresh-animate" ng-hide="dashboard.recentDocumentsData"></span></div>
				<div class="panel-body">
					<div class="table">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Name</th>
									<th>Modified</th>
									<th>Type</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in dashboard.recentDocumentsData">
									<td>
										<a style="cursor:pointer" ng-click="dashboard.actionItem(item,'edit')">{{item.name}}</a>
										<span class="fa fa-info-circle fa-right-pad text-muted" uib-tooltip="{{item.description}}" ng-show="item.description"></span>
									</td>
									<td>{{item.lastModified | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
									<td><span class="fa fa-right-pad {{item.type | itemTypeIdToIcon}} text-muted"></span>{{item.type | itemTypeIdToString }}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-primary">
				<div class="panel-heading">Engine State <span class="fa fa-sm fa-refresh fa-refresh-animate" ng-hide="dashboard.engineState"></span></div>
				<div class="panel-body">
					<i>{{dashboard.engineState.status}}</i>
					<button type="button" class="btn btn-default pull-right" ng-hide="dashboard.engineState.status == 'Running'" ng-click="dashboard.startEngine()">
						Start <span class="fa fa-play" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default pull-right" ng-show="dashboard.engineState.status == 'Running'" ng-click="dashboard.stopEngine()">
						Stop <span class="fa fa-stop" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-primary">
				<div class="panel-heading">Report Activity <span class="fa fa-sm fa-refresh fa-refresh-animate" ng-hide="dashboard.reportActivityData"></span></div>
				<div class="panel-body">
					<div class="table">
						<table class="table table-striped table-condensed">
							<thead>
								<tr>
									<th>Name</th>
									<th>Rundate</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in dashboard.reportActivityData">
									<td>{{item.name}}</td>
									<td>{{item.date | date:'dd-MMM-yyyy HH:mm:ss'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
</div>