<style>
	.form-group { margin-bottom: 10px; }
	dropdown { display: inline-block; }
</style>
<div class="modal-header">
	<button type="button" class="close" (click)="cancel()" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Cohort trends</h4>
</div>
<div class="modal-body">
	<form role="form">
		<div class="row">
			<div class="form-group col-md-4">
				<label>Cohort: </label>
				<div class="input-group">
					<input type="text" class="form-control" id="cohort" name="cohort" readonly [ngModel]="cohort?.name">
					<span class="input-group-addon" (click)="pickCohort()"><i class="fa fa-search" id="pickCohort" aria-hidden="true"></i></span>
				</div>
			</div>
			<div class="form-group col-md-4" *ngIf="orgs">
				<label>Organisation: </label>
				<multiSelectDropdown [data]="orgs" [(ngModel)]="selectedOrgs" name="orgFilter" ></multiSelectDropdown>
			</div>
			<div class="form-group col-md-2">
				<!--<label>CCG: </label>-->
				<!--<multiSelectDropdown [data]="filterCcg" [(ngModel)]="ccgs" name="ccgFilter" ></multiSelectDropdown>-->
			</div>
			<div class="form-group col-md-2" *ngIf="selectedOrgs && selectedOrgs.length > 0">
				<button style="margin-top: 25px" class="btn btn-success btn-sm" (click)="loadGraph()"><i class="fa fa-line-chart"></i> Load Indicator</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<loadingIndicator [done]="!loading">
					<ngb-tabset *ngIf="graphData">
						<ngb-tab title="Graph">
							<template ngbTabContent>
								<div class="row">
									<div class="col-md-12">
										<chart [data]="graphData"></chart>
									</div>
								</div>
							</template>
						</ngb-tab>
						<ngb-tab title="Table">
							<template ngbTabContent>
								<div class="row">
									<div class="col-md-12">
										<chart-table [data]="graphData"></chart-table>
									</div>
								</div>
							</template>
						</ngb-tab>
					</ngb-tabset>
				</loadingIndicator>
			</div>
		</div>
	</form>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-primary" (click)="export()">Export</button>
	<button type="button" class="btn btn-default" (click)="cancel()">Close</button>
</div>
