<section class="container-fluid dashboard">

    <div class="row">
        <div class="col-md-4">
            <div class="epanel modules">
                <div class="epanel-header">
                    <h5>Modules</h5>
                </div>
                <div class="epanel-content">
                    <ul data-bind="foreach: router.navigationModel">
                        <li data-bind="visible: title !== 'Dashboard'">
                            <a data-bind="attr: { href: hash }, html: title"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="epanel">
                <div class="epanel-header">
                    <h5>Engine State</h5>
                </div>
                <div class="epanel-content clearfix">
                    <div class="pull-left" style="font-style: italic;">Idle</div>
                    <button class="btn btn-default btn-sm pull-right" type="submit">Start <span class="glyphicon glyphicon-play" style="color: green" aria-hidden="true"></span></button>
                </div>
            </div>
            <div class="epanel">
                <div class="epanel-header">
                    <h5>Engine History</h5>
                </div>
                <div class="epanel-content">
                    <table class="table table-hover table-xs">
                        <thead>
                        <tr>
                            <th>Datetime</th>
                            <th>Outcome</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr><td>08-Dec-2015</td><td>Success</td></tr>
                            <tr><td>07-Dec-2015</td><td>Success</td></tr>
                            <tr><td>06-Dec-2015</td><td>Success</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="epanel">
                <div class="epanel-header">
                    <h5>Recent Documents</h5>
                </div>
                <div class="epanel-content">
                    <table class="table table-hover table-xs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Modified</th>
                                <th>Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>Diabetic Review</td><td>07-Dec-2015</td><td>Report</td></tr>
                            <tr><td>Asthmatics</td><td>07-Dec-2015</td><td>Query</td></tr>
                            <tr><td>Asthma Review Required</td><td>06-Dec-2015</td><td>Query</td></tr>
                            <tr><td>Cancer Indicators</td><td>04-Dec-2015</td><td>Codeset</td></tr>
                            <tr><td>New Problems</td><td>04-Dec-2015</td><td>Query</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="epanel">
                <div class="epanel-header">
                    <h5>Report Activity</h5>
                </div>
                <div class="epanel-content">
                    <table class="table table-hover table-xs">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Rundate</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr><td>Diabetic Review</td><td>08-Dec-2015</td></tr>
                        <tr><td>Diabetic Review</td><td>07-Dec-2015</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>