<div class="column">
    <div id="header" class="container-fluid">
        <div class="pull-right">

            <ul class="nav nav-tabs session-button-container">

                <li class="dropdown">
                    <button class="btn btn-default dropdown-toggle session-button" type="button" data-toggle="dropdown">
                        <div class="session-button-text">
                            <div>Andrew Marshall</div>
                            <div>Tower Hamlets CCG</div>
                        </div>
                        <div class="session-button-claret">
                            <span class="caret"></span>
                        </div>
                    </button>

                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="/account/logout"><i class="fa fa-fw fa-sign-out"></i> Log out</a></li>
                    </ul>
                </li>
            </ul>

        </div>
        <div>
            <span style="font-weight: 600; font-size: 16pt;">Endeavour Health</span><span style="font-size: 16pt; color: gray; margin-left: 5px;">Discovery</span>
        </div>
        <div class="tabbable">
            <ul class="nav nav-pills">
                <li class="dropdown btn-group active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span data-bind="html: router.activeInstruction().config.title"></span><span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu" role="menu">
                        <!--<li><a href="#tab3" >Action</a></li>-->

                        <!-- ko foreach: router.navigationModel -->
                        <li data-bind="css: { active: isActive }">
                            <a data-bind="attr: { href: hash }, html: title"></a>
                        </li>
                        <!-- /ko -->
                    </ul>
                </li>

                <li role="presentation" data-bind="visible: globalState.queryEditor.visible"><a href="#" data-bind="text: globalState.queryEditor.vitle"></a></li>
            </ul>
        </div>
    </div>

    <div class="page-host" data-bind="router: { }"></div>
</div>